---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.0
  name: resourcecontexts.apps.kafed.io
spec:
  group: apps.kafed.io
  names:
    kind: ResourceContext
    listKind: ResourceContextList
    plural: resourcecontexts
    shortNames:
    - rc
    singular: resourcecontext
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ResourceContext is the Schema for the resourcecontext API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ResourceContextSpec defines the desired state of ResourceContext
            properties:
              contexts:
                items:
                  properties:
                    data:
                      additionalProperties:
                        type: string
                      type: object
                    id:
                      type: integer
                  required:
                  - id
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
